body {
  background-color: rgb(161, 161, 226);
}

.image {
  max-width: 600px;
}

.swapiItem {
  list-style: none;
}

.styleCard {
  display: flex;
  flex: 0 0 200px;
  border: 1px black solid;
}

.SwapiCards {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}
