body {
  background-color: rgb(161, 161, 226);
}

.image {
  max-width: 600px;
}

.swapiCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.swapiCard {
  border: 1px black solid;
  width: 200px;
}

.swapiItem {
  list-style: none;
}

.apiItem {
  list-style: none;
}

.apiCard {
  width: 200px;
  border: 1px black solid;
}

.apiCards {
  display: flex;
  flex-wrap: wrap;
}
